html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0 5%;
  padding: 0;
  box-sizing: border-box;
}

.cabeçalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #162028;
  color: white;
  font-family: "Roboto";
}

.logo {
  font-family: "Italiana";
  font-size: 50px;
  margin: 0;
  margin-left: 70px;
}

.menu {
  margin-right: 70px;
}

.menu a {
  color: #425564;
  margin-left: 65px;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  transition: color 0.3s;
}

.menu a:hover {
  color: white;
}

.imagem-topo {
  width: 100%;
  display: block;
}

.subtitulo {
  text-align: center;
  font-family: "Italiana";
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 1px;
  margin-top: 85px;
}

main p {
  text-align: center;
  margin: 0 14%;
  font-family: "Roboto";
  font-size: 18px;
  color: #555;
  line-height: 2;
}

.secao-produtos {
  padding: 60px 0px;
  text-align: center;
}

.produtos {
  display: flex;
  justify-content: center;
  gap: 65px;
  flex-wrap: wrap;
}

.produto h4 {
  margin-top: 18px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #555;
}

.produto p {
  font-size: 16px;
  color: #555;
  margin-top: -5px;
  font-family: "Roboto";
  font-weight: 450;
}

.informativo {
  margin-top: 90px;
  height: 450px;
  padding: 120px 180px;
  background-image: url(../imagens/bg_detalhe.png);
  color: white;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 3050px;
}

.informativo h2 {
  font-size: 50px;
  font-weight: 100;
  line-height: 1.3;
  font-family: serif;
  text-transform: uppercase;
}

.informativo p {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.7;
  max-width: 650px;
}

.rodape {
  background-color: #0b171f;
  padding: 25px 0;
  text-align: center;
}

.rodape h5 {
  color: #6f8597;
  font-size: 14px;
  letter-spacing: 3px;
  margin: 0;
  font-family: "Roboto";
}